/*WP Lynx TinyMCE Styles*/
.llynx-print{
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.llynx_thumb{
	float: left;
	width: 30%;
	min-width: 60px;
	padding: 12px 14px;
	box-sizing: border-box;
}
.llynx_thumb img{
	width: 100%;
	height: auto;
}
.llynx_main{
	float: left;
	width: 70%;
	min-width: 140px;
	padding: 12px 14px;
	box-sizing: border-box;
}
.llynx_main input, .llynx_main textarea{
	width: 100%;
}
